<%= render 'layouts/admin_header' %>

<div class="container">
  <div class="row">
    <h3>会員一覧</h3>
    <div class="col-xs-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
      	  <th>会員ID</th>
      	  <th>氏名</th>
      	  <th>メールアドレス</th>
       	  <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to "#{customer.last_name}#{customer.first_name}", admins_customer_path(customer.id) %>
              </td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted == false %>
                  有効
                <% else %>
                  退会済み
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>