




<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'items/search' %>
    </div>

    <div class="col-xs-9">
      <div class="top-image">
        <div class="top-image-content">
          <div class="top-text">
            <h3>
              ようこそ、NaganoCakeへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </h3>
          </div>
        </div>
      </div>
      <div class="recommended-item">
          <h2>オススメ商品</h2>
          <div class="text-right">
            <%= link_to "もっと見る", items_path, class: "btn" %>
          </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "address-index", addresses_path %>