/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
    padding-bottom: 50px;

}

main {
    padding-bottom: 50px;
}

.back-image {
    background-image: url(back3.jpg);
    width: 100%;
    height: 100%;
    // 全体を覆うサイズにする
    background-size: cover;
    // 画像を繰り返し表示しない
    background-repeat: no-repeat;
    // 画像の位置を固定する
    background-attachment: fixed;
}

.navbar-text {
    width: 45%;
    margin: 10 auto;
    text-align: right;
}

.top-image {
    width: 90%;
    height: 400px;
    background-size: cover;
    background-size: center;
    background-image: url(chocolate_cake.jpg);
    position: relative;
}

.top-image-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 10%;
}

.top-text {
    text-align: center;
    padding-top: 80px;
}

.recommended-item {
    display: inline-block;
    display: flex;
    text-align: center;
}

.box1 .box2 .box3 .box4 {
    width: 200px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
}

.box1-img {
    background-image: url(cheese.jpg);
    width: 180px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    background-size: cover;
    background-size: center;
}

.box2-img {
    background-image: url(macaron.jpg);
    width: 180px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    background-size: cover;
    background-size: center;
}

.box3-img {
    background-image: url(pudding.jpg);
    width: 180px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    background-size: cover;
    background-size: center;
}

.box4-img {
    background-image: url(mizore.jpg);
    width: 180px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    background-size: cover;
    background-size: center;
}

.about-text {
    text-align: center;
    margin-bottom: 20px;
}

.about-image {
    width: 600px;
    height: 400px;
    background-image: url(tarte.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.item-index {
    display: flex;
    flex-wrap: wrap;
}

.items-list {
    width: 200px;
    height: 200px;
}

.item-show {
    padding-top: 30px;
}

.item-amount {
    margin-top: 80px;
}

.item-show {
    padding-top: 30px;
}

.item-amount {
    margin-top: 80px;
}

.address-update-btn {
    text-align: right;
    margin-bottom: 10px;
}

.col-xs-6 {
    padding: 5px;
}

.col-xs-8 {
    padding: 5px;
}

.order-btn {
    text-align: center;
    margin-top: 30px;
}

.destroy-all-btn {
    text-align: right;
    padding-bottom: 10px;
}

.withdrawal-text {
    text-align: center;
}

.withdrawal-text {
    text-align: center;
}

.withdrawal-btn {
    margin-top: 30px;
    text-align: center;
    padding-right: 20px;
}

.btn-space {
    margin-right: 10px;
}

.thanks-btn {
    text-align: center;
    margin-top: 30px;
}

.thanks {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.btn-space {
    margin-right: 10px;
}

.footer-text {
    padding-bottom: 25px;
    padding-top: 25px;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
}